/.env.umc-gateway
/.env.umc-server
/ansible/inventory/*.yaml
/helm/*/charts/
/lib/__pycache__/
/secret/
/ssl/

# kyverno test files
helm/**/.kyverno/kyverno-test.yaml
helm/**/.kyverno/manifest.yaml

tests/integration/__pycache__/

__pycache__/
docker-compose.override.yaml
