# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2023-2025 Univention GmbH

---
include:
  - project: "univention/dev/nubus-for-k8s/common-ci"
    ref: "v1.54.1"
    file:
      - "defaults/stages.yaml"
      - "defaults/nubus-workflow.yaml"
      - "jobs/lint-pre-commit.yaml"
      - "jobs/lint-commit-messages.yaml"
      - "jobs/semantic-release-env.yaml"
      - "jobs/container-build-external.yaml"
      - "jobs/package-and-publish-helm-charts-external.yaml"
      - "jobs/check-debian-updates.yaml"
      - "templates/sonarqube.yaml"
      - "scripts/bash-header.yaml"
      - "scripts/check-required-variables.yaml"
      - "scripts/release-attestation.yaml"
  - project: "univention/infrastructure/docker-services"
    ref: "master"
    file:
      - "dind.yml"

lint-pre-commit:
  before_script:
    # Compose lint would fail without the referenced env files
    - helm repo add bitnami https://charts.bitnami.com/bitnami

.build-matrix: &build-matrix
  - IMAGE_NAME:
      - "umc-gateway"
      - "umc-server"
      - "testrunner"

container-build:
  parallel:
    matrix: *build-matrix

container-malware-scan:
  parallel:
    matrix: *build-matrix

container-sign-external:
  parallel:
    matrix: *build-matrix

push-image-external:
  parallel:
    matrix: *build-matrix

container-release-attestation:
  parallel:
    matrix: *build-matrix

check-debian-updates:
  parallel:
    matrix: *build-matrix
  variables:
    TARGET_IMAGE: "${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:latest"

package-helm-charts:
  before_script:
    - helm repo add bitnami https://charts.bitnami.com/bitnami

test-image-umc-server:
  stage: "test"
  extends: .dind
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: "never"
    - when: "on_success"
  image: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:28.1.1@sha256:f49e1c71b5d9f8ebe53715f78996ce42b8be4b1ec03875d187dfe3c03de1dc00"
  before_script:
    # Allow that the Docker API version is negotiated between client and server
    - unset DOCKER_API_VERSION
    - export IMAGE_TAG=${RELEASE_VERSION}
    - echo -e "\e[0Ksection_start:`date +%s`:docker_debug[collapsed=true]\r\e[0KDocker version details"
    - echo $IMAGE_TAG
    - docker version
    - echo -e "\e[0Ksection_end:`date +%s`:docker_debug\r\e[0K"
    - cp .env.umc-server.example .env.umc-server
    - cp .env.umc-gateway.example .env.umc-gateway
    - mkdir secret
    - echo "univention" > secret/machine.secret
    - echo "univention" > secret/ldap.secret
    - echo -e "\e[0Ksection_start:`date +%s`:docker_compose_config[collapsed=true]\r\e[0KDocker Compose configuration"
    - docker compose config umc-server test
    - echo -e "\e[0Ksection_end:`date +%s`:docker_compose_config\r\e[0K"
    - docker compose --progress plain up --no-build --pull always  --wait --wait-timeout 60 umc-server
    - sleep 10
    - docker logs dev-local-umc-server-1
  script:
    - echo "Running tests inside of the image:"
    - docker compose exec umc-server univention-management-console-module --help
    - docker compose exec umc-server univention-management-console-server --help

    - echo "Running tests from outside the image:"
    - >-
      docker compose --progress plain run --pull always --rm test
      pytest tests/integration --umc-server-url=http://umc-server:8090
  after_script:
    - docker compose down --volumes

sonarqube:
  extends: .sonarqube
  needs: []

test-chart-umc-gateway:
  stage: test
  needs: []
  image: "gitregistry.knut.univention.de/univention/dev/nubus-for-k8s/common-helm/testrunner:0.29.0"
  script:
    - helm dep build helm/umc-gateway
    - pytest -W error tests/chart/umc-gateway

test-chart-umc-server:
  stage: test
  needs: []
  image: "gitregistry.knut.univention.de/univention/dev/nubus-for-k8s/common-helm/testrunner:0.29.0"
  script:
    # Required for the bundled charts
    - helm repo add bitnami https://charts.bitnami.com/bitnami
    - helm dep build helm/umc-server
    - pytest -W error tests/chart/umc-server

# ===================================================================================================
# Since for traefik we're using an external image we will create a release attestation for it
# while we're packaging the helm chart.
# ===================================================================================================
extract-image-info:
  variables:
    RUNNER_REGISTRY_IMAGE: "gitregistry.knut.univention.de/univention/infrastructure/ci-images/helm/helm"
    RUNNER_IMAGE_TAG: "1.25.4@sha256:377c25e5acd3cc76d177d80a7b8be1b0df0dc35a712fafa352855b79aaf585c1"
    ATTESTATION_IMAGE_LIST_FILE: "chart-image-list.txt"
  stage: publish
  needs: []
  image:
    name: "${RUNNER_REGISTRY_IMAGE}:${RUNNER_IMAGE_TAG}"
    entrypoint: [""]
  script:
    - |
      # Extract image info from Helm chart for release attestation
      helm dependency build helm/umc-server --skip-refresh
      helm template n helm/umc-server --values helm/umc-server/linter_values.yaml \
        | grep image: | grep traefik | awk '{print $2}' | sort -u | tr -d '"' \
        | tee "${ATTESTATION_IMAGE_LIST_FILE}"
  artifacts:
    paths:
      - "${ATTESTATION_IMAGE_LIST_FILE}"
    expire_in: 1 hour

container-release-attestation-traefik:
  variables:
    RUNNER_REGISTRY_IMAGE: "gitregistry.knut.univention.de/univention/dev/nubus-for-k8s/common-ci/cosign"
    RUNNER_IMAGE_TAG: "latest"
    ATTESTATION_IMAGE_LIST_FILE: "chart-image-list.txt"
    COSIGN_PASSWORD: ""
  stage: "publish"
  image: "${RUNNER_REGISTRY_IMAGE}:${RUNNER_IMAGE_TAG}"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: "never"
    - when: "on_success"
  needs:
    - extract-image-info
  script:
    - !reference [".bash-header-script", "script"]
    - !reference [".check-required-variables-bash-script", "script"]
    - !reference [".release-json-bash-script", "script"]
    - |
      required_variables=(
        COSIGN_PRIVATE_KEY
        COSIGN_PUBLIC_KEY
        EXTERNAL_REGISTRY_ROBOT_TOKEN
        EXTERNAL_REGISTRY_ROBOT_ACCOUNT
        EXTERNAL_PRIVATE_IMAGE_REGISTRY
        EXTERNAL_PUBLIC_IMAGE_REGISTRY
      )
      check_required_variables 1 "${required_variables[@]}"
      echo ${COSIGN_PRIVATE_KEY} | base64 -d > ${CI_PROJECT_DIR}/cosign.key
      echo ${COSIGN_PUBLIC_KEY} | base64 -d > ${CI_PROJECT_DIR}/cosign.pub
    - |
      # Perform attestation for all images listed in the extracted image list file
      while IFS= read -r image; do
        # extract image components
        image_name=${image//:*/}
        image_digest=${image//*@}
        image_version=${image/$image_name:/}
        image_version=${image_version/@$image_digest/}

        echo "Verifying existing attestation for image: ${image_name}@${image_digest}"
        cosign verify-attestation --key ${CI_PROJECT_DIR}/cosign.pub \
          --type https://in-toto.io/attestation/release/v0.1 \
          ${image_name}@${image_digest} >& /dev/null \
          && echo "Release attestation exists." && continue

        echo "Attesting image: ${image_name}@${image_digest}, version: ${image_version}"
        dump-release-json \
          IMAGE_REGISTRY_URL="${image_name%/*}" \
          IMAGE_NAME="${image_name/*\//}" \
          IMAGE_DIGEST="${image//*@}" \
          RELEASE_VERSION="${image_version}" \
          | tee ${CI_PROJECT_DIR}/release-attestation.json

        cosign attest --yes --replace --key ${CI_PROJECT_DIR}/cosign.key \
          --registry-username "$EXTERNAL_REGISTRY_ROBOT_ACCOUNT" \
          --registry-password "$EXTERNAL_REGISTRY_ROBOT_TOKEN" \
          --type https://in-toto.io/attestation/release/v0.1 \
          --predicate "${CI_PROJECT_DIR}/release-attestation.json" \
          ${image_name}@${image_digest}

      done < "${ATTESTATION_IMAGE_LIST_FILE}"
...
