# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2023-2025 Univention GmbH
---

name: "dev-local"

services:
  umc-gateway:
    image: gitregistry.knut.univention.de/univention/dev/nubus-for-k8s/umc/umc-gateway:${IMAGE_TAG:-latest}
    platform: linux/amd64
    build:
      context: ./docker/umc-gateway
      platforms:
        - "linux/amd64"
      target: final
    ports:
      - 8091:80
    env_file: .env.umc-gateway

  umc-server:
    image: gitregistry.knut.univention.de/univention/dev/nubus-for-k8s/umc/umc-server:${IMAGE_TAG:-latest}
    platform: linux/amd64
    build:
      context: ./docker/umc-server
      platforms:
        - "linux/amd64"
      target: final
    ports:
      - 8090:8090
    volumes:
      - umc-acls:/var/cache/univention-management-console/acls/
      - type: bind
        source: ./tests/stub_data/base.conf
        target: /etc/univention/base.conf
        read_only: true
      - type: bind
        source: ./tests/stub_data/saml-certs
        target: /etc/univention/ssl/ucs-6045.univention-organization.intranet
        read_only: true
    env_file: .env.umc-server
    secrets:
      - ldap_secret
      - machine_secret

  test:
    profiles:
      - test
    platform: linux/amd64
    image: gitregistry.knut.univention.de/univention/dev/nubus-for-k8s/umc/testrunner:${IMAGE_TAG:-latest}
    build:
      context: docker/testrunner
    environment:
      PYTEST_ADDOPTS: --umc-server-url=http://umc-server:8090/
    volumes:
      - type: bind
        source: .
        target: /app/

  test-chart-umc-gateway:
    image: gitregistry.knut.univention.de/univention/dev/nubus-for-k8s/common-helm/testrunner:0.29.10@sha256:5cba2a8fc4c6d5fa82bcec177ad433ab74695b4e02b2a2e9ed9b53c734b34dbf
    command: "pytest tests/helm/chart"
    profiles:
      - test
    volumes:
      - "./helm/umc-gateway/:/app/helm/umc-gateway"
      - "./tests/chart/umc-gateway/:/app/tests/helm/chart"

  test-chart-umc-server:
    image: gitregistry.knut.univention.de/univention/dev/nubus-for-k8s/common-helm/testrunner:0.29.10@sha256:5cba2a8fc4c6d5fa82bcec177ad433ab74695b4e02b2a2e9ed9b53c734b34dbf
    command: "pytest tests/helm/chart"
    profiles:
      - test
    volumes:
      - "./helm/umc-server/:/app/helm/umc-server"
      - "./tests/chart/umc-server/:/app/tests/helm/chart"

  # Environment of the pre-commit linter.
  pre-commit:
    profiles:
      - test
    image: gitregistry.knut.univention.de/univention/dev/tooling/pre-commit/upx-pre-commit:latest
    volumes:
      - type: bind
        source: .
        target: /code
      - type: volume
        # pre-commit installs dependencies, having them cached speeds things up
        # a lot.
        source: pre-commit-cache
        target: /cache

secrets:
  ca_cert:
    file: ssl/certs/CAcert.pem
  cert_pem:
    file: ssl/certs/cert.pem
  private_key:
    file: ssl/certs/private.key
  ldap_secret:
    file: secret/ldap.secret
  machine_secret:
    file: secret/machine.secret

volumes:
  pre-commit-cache:
  umc-acls:


...
