hostname: primary
domainname: example.org
apache2/autostart: yes
apache2/documentroot: /var/www/
apache2/force_https/exclude/http_host/localhost: localhost
apache2/force_https/exclude/request_uri/mod-status: /server-status
apache2/loglevel: warn
apache2/maxclients: 150
apache2/startsite: univention/
ucs/server/robots/disallow: /
ucs/server/sso/fqdn: ucs-sso.example.org
umc/http/content-security-policy/connect-src: 'self'
umc/http/content-security-policy/default-src: 'unsafe-eval'
umc/http/content-security-policy/font-src: 'self'
umc/http/content-security-policy/form-action: 'self'
umc/http/content-security-policy/frame-ancestors: 'self'
umc/http/content-security-policy/frame-src: *
umc/http/content-security-policy/img-src: *
umc/http/content-security-policy/media-src: *
umc/http/content-security-policy/object-src: 'self'
umc/http/content-security-policy/script-src: 'self' 'unsafe-inline' 'unsafe-eval' https://www.youtube.com/ https://s.ytimg.com/
umc/http/content-security-policy/style-src: 'self' 'unsafe-inline'
umc/login/content-security-policy/frame-ancestors: 'self'
portal/paths: /univention/portal/, /univention/umc/
locale: de_DE.UTF-8:UTF-8 en_US.UTF-8:UTF-8
ucs/server/languages/de_AT: Deutsch (Österreich)
ucs/server/languages/de_CH: Deutsch (Schweiz)
ucs/server/languages/de_DE: Deutsch
ucs/server/languages/en_GB: English (United Kingdom)
ucs/server/languages/en_US: English
