{#
SPDX-License-Identifier: AGPL-3.0-only
SPDX-FileCopyrightText: 2026 Univention GmbH
#}

DOMAINNAME={{ local_domainname.stdout }}
HOSTNAME={{ local_hostname.stdout }}
SSO_FQDN={{ local_hostname.stdout }}:8097
